@import '../../styles/breakpoints.scss';

.wrapper {
  position: relative;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  padding: var(--spacing-medium);
  background-repeat: repeat;
}

@media screen and (min-width: $breakpoint-tablet) {
  .wrapper {
    width: 75vw;
  }
}
