@import '../../styles/breakpoints.scss';

.preload {
  position: absolute;
  top: -5000px;
  left: -5000px;
  visibility: hidden;
}

.mask-container {
  position: absolute;
  right: 0;
  height: 100%;
  overflow: hidden;
  width: auto;
  display: inline-block;
  img {
    height: 100%;
    width: auto;
    max-width: initial;
    display: block;
  }
}

.color-image {
  position: absolute;
  inset: 0;
  background-size: cover;
  -webkit-mask-size: cover;
  mask-size: cover;
  transition: -webkit-mask-position;
  transition: mask-position;
}

.mask-animation {
  .color-image {
    &.top-down {
      -webkit-mask-image: url('/mask/spritesheet-inverted.png');
      mask-image: url('/mask/spritesheet-inverted.png');
    }

    &.bottom-up {
      -webkit-mask-image: url('/mask/spritesheet.png');
      mask-image: url('/mask/spritesheet.png');
    }
  }

  &.stop .color-image {
    animation: initial;
    -webkit-mask-position: 100% 0%;
    mask-position: 100% 0%;
  }

  &.play .color-image {
    animation-play-state: running;
  }

  &.start .color-image {
    -webkit-mask-position: 0% 0%;
    mask-position: 0% 0%;
    animation: addColor 1000ms steps(12) forwards;
    animation-delay: 1s;

    // animation-direction: normal;
  }

  &.reverse {
    .color-image {
      animation: removeColor 500ms steps(12) forwards;
      animation-delay: 1s;
      animation-play-state: running;
    }
  }
}

.clothing-2 {
  background-image: var(--var-mask-clothing-2);
}

.clothing-1 {
  background-image: var(--var-mask-clothing-1);
}

.face {
  background-image: var(--var-mask-face);
}

.glasses {
  background-image: var(--var-mask-glasses);
}

@keyframes addColor {
  0% {
    -webkit-mask-position: 0% 0%;
    mask-position: 0% 0%;
  }
  100% {
    -webkit-mask-position: 100% 0%;
    mask-position: 100% 0%;
  }
}

@keyframes removeColor {
  0% {
    -webkit-mask-position: 100% 0%;
    mask-position: 100% 0%;
  }
  100% {
    -webkit-mask-position: 0% 0%;
    mask-position: 0% 0%;
  }
}

@media screen and (min-width: $breakpoint-desktop-small) {
  // .mask-animation {
  //   animation: addColor 1000ms steps(12) forwards;
  // }
}
