@import '../../styles/breakpoints.scss';

.mask-container {
  position: absolute;
  right: 0;
  height: 100%;
  overflow: hidden;
  width: auto;
  display: inline-block;
  img {
    height: 100%;
    width: auto;
    max-width: initial;
    display: block;
  }
}

.color-image {
  position: absolute;
  inset: 0;
  background-size: cover;
  -webkit-mask-size: cover;
  -webkit-mask-position: 0% 0%;
  mask-size: cover;
  mask-position: 0% 0%;
  transition: -webkit-mask-position;
  transition: mask-position;
}

.top-down {
  -webkit-mask-image: url('/mask/test-spritesheet-inverted.png');
  mask-image: url('/mask/test-spritesheet-inverted.png');
}

.bottom-up {
  -webkit-mask-image: url('/mask/test-spritesheet.png');
  mask-image: url('/mask/test-spritesheet.png');
}

.clothing-2 {
  background-image: var(--var-mask-clothing-2);
}

.clothing-1 {
  background-image: var(--var-mask-clothing-1);
}

.face {
  background-image: var(--var-mask-face);
}

.glasses {
  background-image: var(--var-mask-glasses);
}

.mask-animation .color-image {
  animation: addColor 1000ms steps(12) forwards;
  animation-delay: 1s;
}

@keyframes addColor {
  0% {
    -webkit-mask-position: 0% 0%;
    mask-position: 0% 0%;
  }
  100% {
    -webkit-mask-position: 100% 0%;
    mask-position: 100% 0%;
  }
}

@media screen and (min-width: $breakpoint-desktop-small) {
  .mask-animation {
    animation: addColor 1000ms steps(12) forwards;
  }
}
