@import '../../styles/breakpoints.scss';

.nav,
.portfolio-nav {
  width: 15vw;
  flex-direction: column;
}
.nav {
  display: none;
  margin-left: var(--spacing-small);
}

@media screen and (min-width: $breakpoint-tablet) {
  .nav {
    display: flex;
  }
}
