@import '../../styles/breakpoints.scss';

.nav,
.portfolio-nav {
  flex-direction: column;
}
.nav {
  display: none;
  margin-left: var(--spacing-small);
  width: 12vw;
}

.portfolio-nav {
  display: flex;
  width: 20vw;
}

@media screen and (min-width: $breakpoint-tablet) {
  .nav {
    display: flex;
  }
}
