@use './scrollbar.scss';
@import './breakpoints.scss';

@font-face {
  font-family: 'IBM-Light';
  src: url('./fonts/IBMPlexSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM-Regular';
  src: url('./fonts/IBMPlexSans-Regular.ttf') format('truetype');
}

body,
body[data-theme='light'] {
  // p b
  --color-text-primary: #27201a;
  // h
  --color-text-secondary: #804674;
  // p
  --color-text-tertiary: #d6d6d6;

  --color-bg-primary: #fff;
  --color-bg-primary-alpha: rgba(255, 255, 255, 0.75);
  --color-bg-toggle: #1e90ff;

  // mobile nav
  --mobile-nav-bg: #333;
  --mobile-nav-bg-inverse: #bababa;

  // svg background vars
  --color-daniel-stroke: #333;
  --color-daniel-fill: #666;
  --background-color: initial;
  --background-url: url('/paper.webp');

  // default mask if err
  --var-mask-clothing-2: url('/mask/light/mint/clothing-2.svg');
  --var-mask-clothing-1: url('/mask/light/mint/clothing-1.svg');
  --var-mask-face: url('/mask/light/mint/face.svg');
  --var-mask-glasses: url('/mask/light/mint/glasses.svg');

  // background masking schemes
  // ['mint', 'monaco', 'peach', 'sage', 'sea', 'space', 'summer', 'vintage']
  &[data-scheme='mint'] {
    --color-text-secondary: #804674;
    --var-mask-clothing-2: url('/mask/light/mint/clothing-2.svg');
    --var-mask-clothing-1: url('/mask/light/mint/clothing-1.svg');
    --var-mask-face: url('/mask/light/mint/face.svg');
    --var-mask-glasses: url('/mask/light/mint/glasses.svg');
  }

  &[data-scheme='monaco'] {
    --color-text-secondary: #617143;
    --var-mask-clothing-2: url('/mask/light/monaco/clothing-2.svg');
    --var-mask-clothing-1: url('/mask/light/monaco/clothing-1.svg');
    --var-mask-face: url('/mask/light/monaco/face.svg');
    --var-mask-glasses: url('/mask/light/monaco/glasses.svg');
  }

  &[data-scheme='peach'] {
    --color-text-secondary: #546965;
    --var-mask-clothing-2: url('/mask/light/peach/clothing-2.svg');
    --var-mask-clothing-1: url('/mask/light/peach/clothing-1.svg');
    --var-mask-face: url('/mask/light/peach/face.svg');
    --var-mask-glasses: url('/mask/light/peach/glasses.svg');
  }

  &[data-scheme='sage'] {
    --color-text-secondary: #5b8469;
    --var-mask-clothing-2: url('/mask/light/sage/clothing-2.svg');
    --var-mask-clothing-1: url('/mask/light/sage/clothing-1.svg');
    --var-mask-face: url('/mask/light/sage/face.svg');
    --var-mask-glasses: url('/mask/light/sage/glasses.svg');
  }

  &[data-scheme='sea'] {
    --color-text-secondary: #2e4f4f;
    --var-mask-clothing-2: url('/mask/light/sea/clothing-2.svg');
    --var-mask-clothing-1: url('/mask/light/sea/clothing-1.svg');
    --var-mask-face: url('/mask/light/sea/face.svg');
    --var-mask-glasses: url('/mask/light/sea/glasses.svg');
  }

  &[data-scheme='space'] {
    --color-text-secondary: #2e3840;
    --var-mask-clothing-2: url('/mask/light/space/clothing-2.svg');
    --var-mask-clothing-1: url('/mask/light/space/clothing-1.svg');
    --var-mask-face: url('/mask/light/space/face.svg');
    --var-mask-glasses: url('/mask/light/space/glasses.svg');
  }

  &[data-scheme='summer'] {
    --color-text-secondary: #885f2d;
    --var-mask-clothing-2: url('/mask/light/summer/clothing-2.svg');
    --var-mask-clothing-1: url('/mask/light/summer/clothing-1.svg');
    --var-mask-face: url('/mask/light/summer/face.svg');
    --var-mask-glasses: url('/mask/light/summer/glasses.svg');
  }

  &[data-scheme='vintage'] {
    --color-text-secondary: #4d455d;
    --var-mask-clothing-2: url('/mask/light/vintage/clothing-2.svg');
    --var-mask-clothing-1: url('/mask/light/vintage/clothing-1.svg');
    --var-mask-face: url('/mask/light/vintage/face.svg');
    --var-mask-glasses: url('/mask/light/vintage/glasses.svg');
  }
}

body[data-theme='dark'] {
  // p b
  --color-text-primary: #d6d6d6;
  // h
  --color-text-secondary: #e87d3e;
  // p
  --color-text-tertiary: #27201a;

  //mobile nav
  --mobile-nav-bg: #bababa;
  --mobile-nav-bg-inverse: #333;

  --var-mask-clothing-2: url('/mask/dark/mint/clothing-2.svg');
  --var-mask-clothing-1: url('/mask/dark/mint/clothing-1.svg');
  --var-mask-face: url('/mask/dark/mint/face.svg');
  --var-mask-glasses: url('/mask/dark/mint/glasses.svg');

  --color-bg-primary: #15232d;
  --color-bg-primary-alpha: rgba(21, 35, 45, 0.75);
  --color-bg-primary-zero: rgba(21, 35, 45, 0);
  --color-bg-toggle: #a9a9a9;

  // svg background vars
  --color-daniel-stroke: #222;
  --color-daniel-fill: #b6b6b6;
  // --background-url: url('/papyrus-dark.webp');
  // --background-url: url('/stardust.png');
  --background-color: #303030;
  // checkerboard, like image editing default background.
  --background-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23222222' fill-opacity='0.27'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");

  // background masking schemes
  // ['mint', 'monaco', 'peach', 'sage', 'sea', 'space', 'summer', 'vintage']
  &[data-scheme='mint'] {
    --color-text-secondary: #9dc08b;
    --var-mask-clothing-2: url('/mask/dark/mint/clothing-2.svg');
    --var-mask-clothing-1: url('/mask/dark/mint/clothing-1.svg');
    --var-mask-face: url('/mask/dark/mint/face.svg');
    --var-mask-glasses: url('/mask/dark/mint/glasses.svg');
  }

  &[data-scheme='monaco'] {
    --color-text-secondary: #debace;
    --var-mask-clothing-2: url('/mask/dark/monaco/clothing-2.svg');
    --var-mask-clothing-1: url('/mask/dark/monaco/clothing-1.svg');
    --var-mask-face: url('/mask/dark/monaco/face.svg');
    --var-mask-glasses: url('/mask/dark/monaco/glasses.svg');
  }

  &[data-scheme='peach'] {
    --color-text-secondary: #eca869;
    --var-mask-clothing-2: url('/mask/dark/peach/clothing-2.svg');
    --var-mask-clothing-1: url('/mask/dark/peach/clothing-1.svg');
    --var-mask-face: url('/mask/dark/peach/face.svg');
    --var-mask-glasses: url('/mask/dark/peach/glasses.svg');
  }

  &[data-scheme='sage'] {
    --color-text-secondary: #fff2f2;
    --var-mask-clothing-2: url('/mask/dark/sage/clothing-2.svg');
    --var-mask-clothing-1: url('/mask/dark/sage/clothing-1.svg');
    --var-mask-face: url('/mask/dark/sage/face.svg');
    --var-mask-glasses: url('/mask/dark/sage/glasses.svg');
  }

  &[data-scheme='sea'] {
    --color-text-secondary: #ede4e0;
    --var-mask-clothing-2: url('/mask/dark/sea/clothing-2.svg');
    --var-mask-clothing-1: url('/mask/dark/sea/clothing-1.svg');
    --var-mask-face: url('/mask/dark/sea/face.svg');
    --var-mask-glasses: url('/mask/dark/sea/glasses.svg');
  }

  &[data-scheme='space'] {
    --color-text-secondary: #c4d7e0;
    --var-mask-clothing-2: url('/mask/dark/space/clothing-2.svg');
    --var-mask-clothing-1: url('/mask/dark/space/clothing-1.svg');
    --var-mask-face: url('/mask/dark/space/face.svg');
    --var-mask-glasses: url('/mask/dark/space/glasses.svg');
  }

  &[data-scheme='summer'] {
    --color-text-secondary: #e8d5c4;
    --var-mask-clothing-2: url('/mask/dark/summer/clothing-2.svg');
    --var-mask-clothing-1: url('/mask/dark/summer/clothing-1.svg');
    --var-mask-face: url('/mask/dark/summer/face.svg');
    --var-mask-glasses: url('/mask/dark/summer/glasses.svg');
  }

  &[data-scheme='vintage'] {
    --color-text-secondary: #fefbe9;
    --var-mask-clothing-2: url('/mask/dark/vintage/clothing-2.svg');
    --var-mask-clothing-1: url('/mask/dark/vintage/clothing-1.svg');
    --var-mask-face: url('/mask/dark/vintage/face.svg');
    --var-mask-glasses: url('/mask/dark/vintage/glasses.svg');
  }
}

body {
  // spacing
  --spacing-x-small: 8px;
  --spacing-smaller: 16px;
  --spacing-small: 20px;
  --spacing-medium: 32px;
  --spacing-large: 40px;
  --spacing-larger: 64px;
  --spacing-x-large: 80px;
  --spacing-xx-large: 100px;

  // form
  --form-font-color: #27201a;

  // animation
  --cubic-bezier: cubic-bezier(0.17, 0.67, 0.83, 0.67);

  // font
  --font-primary: 'IBM-Regular', sans-serif;
  --font-secondary: 'IBM-Light', sans-serif;
  --font-secondary-weight-std: 500;
  --font-monospaced: 'Source Code Pro', monospace;

  // animation vars
  --color-fill1-stop1: #9dffa9af;
  --color-fill1-stop2: #d6d6d6;
  --color-fill2-stop1: #89ff9b7d;
  --color-fill2-stop2: #e5ffe6;
  --color-fill3-stop1: #6fff8269;
  --color-fill3-stop2: #d4ffd3;
  --color-fill4-stop1: #4fff6739;
  --color-fill4-stop2: #c5ffc6;

  background-color: var(--background-color);
  background-image: var(--background-url);
  background-repeat: repeat;
  color: var(--color-text-primary);
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  font-family: var(--font-secondary);
  color: var(--color-text-primary);
  line-height: 1.5;
}

div,
section {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: initial;
  transition: background-color 1000ms var(--cubic-bezier);
  font-family: var(--font-secondary);
  font-weight: var(--font-secondary-weight-std);
}

h1 {
  background-color: var(--color-text-secondary);
  color: var(--color-text-tertiary);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  margin-bottom: var(--spacing-smaller);
}

h4 {
  color: var(--color-text-secondary);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  // margin-bottom: var(--spacing-x-small);
}

hr {
  transition: border-color 300ms var(--cubic-bezier);
  border-color: var(--color-text-secondary);
}

p,
hr {
  margin: 0 0 var(--spacing-smaller) 0;
}

a {
  color: var(--color-text-secondary);
  text-decoration: none;
  transition: background-color 300ms var(--cubic-bezier);
  padding-right: 5px;
  &:before {
    content: '_';
    display: inline-block;
  }
  &:focus-visible,
  &:active,
  &:hover {
    color: var(--color-text-tertiary);
    background-color: var(--color-text-secondary);
  }
}

input,
textarea {
  padding: 5px;
  transition: border-color 200ms ease-in-out;
  border: 2px solid var(--color-text-secondary);
  font-family: var(--font-secondary);
  color: var(--form-font-color);
  line-height: 1.5;
}

button {
  cursor: pointer;
  font-family: var(--font-secondary);
  color: var(--color-text-secondary);
  text-decoration: none;
  transition: background-color 300ms var(--cubic-bezier);
  color: var(--color-text-tertiary);
  background-color: var(--color-text-secondary);
  border: 2px solid var(--color-text-secondary);
  font-size: 1rem;
  text-transform: uppercase;
  &:focus-visible,
  &:active,
  &:hover {
    color: var(--color-text-secondary);
    background-color: var(--color-text-tertiary);
  }
}

.blink {
  visibility: visible;
  animation: blink-animation 100ms steps(5, start) infinite;
  -webkit-animation: blink-animation 100ms steps(5, start) infinite;
  &.large {
    font-size: 4rem;
  }
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: $breakpoint-desktop-small) {
  h1 {
    font-size: 4rem;
  }
}
