@font-face {
  font-family: 'IBM-Light';
  src: url('./fonts/IBMPlexSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM-Regular';
  src: url('./fonts/IBMPlexSans-Regular.ttf') format('truetype');
}

body,
body[data-theme='light'] {
  --color-text-primary: #27201a;
  --color-text-secondary: #666;
  --color-bg-primary: #fff;
  --color-bg-primary-alpha: rgba(255, 255, 255, 0.75);
  --color-bg-toggle: #1e90ff;

  // svg background vars
  --color-daniel-stroke: #333;
  --color-daniel-fill: #666;
  --background-color: initial;
  --background-url: url('/paper.webp');

  // default mask if err
  --var-mask-clothing-2: url('/mask/mint/clothing-2.svg');
  --var-mask-clothing-1: url('/mask/mint/clothing-1.svg');
  --var-mask-face: url('/mask/mint/face.svg');
  --var-mask-glasses: url('/mask/mint/glasses.svg');
}

body[data-theme='dark'] {
  --color-text-primary: #d6d6d6;
  --color-text-secondary: #e87d3e;
  --color-bg-primary: #15232d;
  --color-bg-primary-alpha: rgba(21, 35, 45, 0.75);
  --color-bg-primary-zero: rgba(21, 35, 45, 0);
  --color-bg-toggle: #a9a9a9;

  // svg background vars
  --color-daniel-stroke: #222;
  --color-daniel-fill: #b6b6b6;
  // --background-url: url('/papyrus-dark.webp');
  // --background-url: url('/stardust.png');
  --background-color: #303030;
  --background-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23666666' fill-opacity='0.27'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

// background masking schemes
// ['mint', 'monaco', 'peach', 'sage', 'sea', 'space', 'summer', 'vintage']
body[data-scheme='mint'] {
  --var-mask-clothing-2: url('/mask/mint/clothing-2.svg');
  --var-mask-clothing-1: url('/mask/mint/clothing-1.svg');
  --var-mask-face: url('/mask/mint/face.svg');
  --var-mask-glasses: url('/mask/mint/glasses.svg');
}

body[data-scheme='monaco'] {
  --var-mask-clothing-2: url('/mask/monaco/clothing-2.svg');
  --var-mask-clothing-1: url('/mask/monaco/clothing-1.svg');
  --var-mask-face: url('/mask/monaco/face.svg');
  --var-mask-glasses: url('/mask/monaco/glasses.svg');
}

body[data-scheme='peach'] {
  --var-mask-clothing-2: url('/mask/peach/clothing-2.svg');
  --var-mask-clothing-1: url('/mask/peach/clothing-1.svg');
  --var-mask-face: url('/mask/peach/face.svg');
  --var-mask-glasses: url('/mask/peach/glasses.svg');
}

body[data-scheme='sage'] {
  --var-mask-clothing-2: url('/mask/sage/clothing-2.svg');
  --var-mask-clothing-1: url('/mask/sage/clothing-1.svg');
  --var-mask-face: url('/mask/sage/face.svg');
  --var-mask-glasses: url('/mask/sage/glasses.svg');
}

body[data-scheme='sea'] {
  --var-mask-clothing-2: url('/mask/sea/clothing-2.svg');
  --var-mask-clothing-1: url('/mask/sea/clothing-1.svg');
  --var-mask-face: url('/mask/sea/face.svg');
  --var-mask-glasses: url('/mask/sea/glasses.svg');
}

body[data-scheme='space'] {
  --var-mask-clothing-2: url('/mask/space/clothing-2.svg');
  --var-mask-clothing-1: url('/mask/space/clothing-1.svg');
  --var-mask-face: url('/mask/space/face.svg');
  --var-mask-glasses: url('/mask/space/glasses.svg');
}

body[data-scheme='summer'] {
  --var-mask-clothing-2: url('/mask/summer/clothing-2.svg');
  --var-mask-clothing-1: url('/mask/summer/clothing-1.svg');
  --var-mask-face: url('/mask/summer/face.svg');
  --var-mask-glasses: url('/mask/summer/glasses.svg');
}

body[data-scheme='vintage'] {
  --var-mask-clothing-2: url('/mask/vintage/clothing-2.svg');
  --var-mask-clothing-1: url('/mask/vintage/clothing-1.svg');
  --var-mask-face: url('/mask/vintage/face.svg');
  --var-mask-glasses: url('/mask/vintage/glasses.svg');
}

body {
  // spacing
  --spacing-x-small: 8px;
  --spacing-smaller: 16px;
  --spacing-small: 20px;
  --spacing-medium: 32px;
  --spacing-large: 40px;
  --spacing-larger: 64px;
  --spacing-x-large: 80px;
  --spacing-xx-large: 100px;

  // font
  --font-primary: 'IBM-Regular', sans-serif;
  --font-secondary: 'IBM-Light', sans-serif;
  --font-secondary-weight-std: 500;
  --font-monospaced: 'Source Code Pro', monospace;

  // animation vars
  --color-fill1-stop1: #9dffa9af;
  --color-fill1-stop2: #d6d6d6;
  --color-fill2-stop1: #89ff9b7d;
  --color-fill2-stop2: #e5ffe6;
  --color-fill3-stop1: #6fff8269;
  --color-fill3-stop2: #d4ffd3;
  --color-fill4-stop1: #4fff6739;
  --color-fill4-stop2: #c5ffc6;

  background-color: var(--background-color);
  background-image: var(--background-url);
  background-repeat: repeat;
  color: var(--color-text-primary);
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  font-family: var(--font-secondary);
  color: var(--color-text-primary);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: initial;
}

h1 {
  font-family: var(--font-secondary);
  font-weight: var(--font-secondary-weight-std);
  color: var(--color-text-secondary);
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

p,
hr {
  margin: 0 0 var(--spacing-smaller) 0;
}

a {
  color: var(--color-fill1-stop2);
  text-decoration: none;
  transition: color 200ms ease-in-out;
  &:focus-visible,
  &:active,
  &:hover {
    color: var(--color-text-secondary);
  }
}
