body,
body[data-theme='light'] {
  --color-text-primary: #27201a;
  --color-text-secondary: #076963;
  --color-bg-primary: #fff;
  --color-bg-primary-alpha: rgba(255, 255, 255, 0.75);
  --color-bg-toggle: #1e90ff;

  // font
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Oswald', sans-serif;
  --font-secondary-weight-std: 500;
  --font-monospaced: 'Source Code Pro', monospace;

  // animation vars
  --color-fill1-stop1: pink;
  --color-fill1-stop2: green;
  --color-fill2-stop1: gold;
  --color-fill2-stop2: cyan;
  --color-fill3-stop1: magenta;
  --color-fill3-stop2: orange;
  --color-fill4-stop1: blue;
  --color-fill4-stop2: white;

  // spacing
  --spacing-x-small: 8px;
  --spacing-smaller: 16px;
  --spacing-small: 20px;
  --spacing-medium: 32px;
  --spacing-large: 40px;
  --spacing-larger: 64px;
  --spacing-x-large: 80px;
  --spacing-xx-large: 100px;
}

body[data-theme='dark'] {
  --color-text-primary: #d6d6d6;
  --color-text-secondary: #e87d3e;
  --color-bg-primary: #15232d;
  --color-bg-primary-alpha: rgba(21, 35, 45, 0.75);
  --color-bg-primary-zero: rgba(21, 35, 45, 0);
  --color-bg-toggle: #a9a9a9;

  // animation vars
  // --color-fill1-stop1: #d6d6d6;
  // --color-fill1-stop2: #9dffa8;
  // --color-fill2-stop1: #e5ffe6;
  // --color-fill2-stop2: #89ff9b;
  // --color-fill3-stop1: #d4ffd3;
  // --color-fill3-stop2: #6fff81;
  // --color-fill4-stop1: #c5ffc6;
  // --color-fill4-stop2: #4fff67;

  --color-fill1-stop1: #9dffa9af;
  --color-fill1-stop2: #d6d6d6;
  --color-fill2-stop1: #89ff9b7d;
  --color-fill2-stop2: #e5ffe6;
  --color-fill3-stop1: #6fff8269;
  --color-fill3-stop2: #d4ffd3;
  --color-fill4-stop1: #4fff6739;
  --color-fill4-stop2: #c5ffc6;
}

body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
  color: var(--color-text-primary);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: initial;
}

h1 {
  color: var(--color-text-secondary);
  font-size: 2rem;
}

p,
hr {
  margin: 0 0 var(--spacing-smaller) 0;
}

a {
  color: var(--color-fill1-stop2);
  text-decoration: none;
  transition: color 200ms ease-in-out;
  &:focus-visible,
  &:active,
  &:hover {
    color: var(--color-text-secondary);
  }
}
