$transition_func: cubic-bezier(0.165, 0.84, 0.44, 1);

#stage {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#background {
  position: absolute;
  z-index: 2;
  // width: 100vw;
  // height: 100vh;
  // mix-blend-mode: multiply;
  // background-color: pink;
  // will-change: contents;

  polygon {
    transform-box: fill-box;
    transform-origin: center;
    transition: transform 200ms $transition_func;
    transform: rotate(0deg);
  }

  &.portfolioHover {
    #path1 {
      transform: rotate(2deg);
    }

    #path2 {
      transform: rotate(6deg);
    }

    #path3 {
      transform: rotate(-2deg);
    }

    #path4 {
      transform: rotate(-6deg);
    }
  }
}

#introPath1,
#introPath2,
#introPath3,
#introPath4 {
  fill: none;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
}

@keyframes draw_in {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.introAnimationStart {
  #introPath1,
  #introPath2,
  #introPath3,
  #introPath4 {
    animation: draw_in 1s;
  }
  #introPath1 {
    animation-delay: 0s;
  }
  #introPath2 {
    animation-delay: 0.4s;
  }
  #introPath3 {
    animation-delay: 0.6s;
  }
  #introPath4 {
    animation-delay: 0.8s;
  }
}

#path1,
#path2,
#path3,
#path4 {
  // mix-blend-mode: multiply;
}

#path2 {
  opacity: 0.7;
}

#path3 {
  opacity: 0.6;
}

#path4 {
  opacity: 0.5;
}

// gradients
#fill1,
#fill2,
#fill3,
#fill4 {
  stop {
    transition: all 0.4s ease-in-out;
  }
}

.section_intro {
  #fill1 {
    .stop1 {
      stop-color: var(--color-fill1-stop1);
    }

    .stop2 {
      stop-color: var(--color-fill1-stop2);
    }
  }

  #fill2 {
    .stop1 {
      stop-color: var(--color-fill2-stop1);
    }

    .stop2 {
      stop-color: var(--color-fill2-stop2);
    }
  }

  #fill3 {
    .stop1 {
      stop-color: var(--color-fill3-stop1);
    }

    .stop2 {
      stop-color: var(--color-fill3-stop2);
    }
  }

  #fill4 {
    .stop1 {
      stop-color: var(--color-fill4-stop1);
    }

    .stop2 {
      stop-color: var(--color-fill4-stop2);
    }
  }
}

.section2 {
  #fill1 {
    .stop1 {
      stop-color: #713a80;
    }

    .stop2 {
      stop-color: #cc3b58;
    }
  }

  #fill2 {
    .stop1 {
      stop-color: #b13496;
    }

    .stop2 {
      stop-color: #4a4587;
    }
  }
}

.section3 {
  #fill1 {
    .stop1 {
      stop-color: #f33b47;
    }

    .stop2 {
      stop-color: #bb3b60;
    }
  }

  #fill2 {
    .stop1 {
      stop-color: #2c94c6;
    }

    .stop2 {
      stop-color: #39449c;
    }
  }
}
